.about {
  padding: 40px;
}

.about__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.about__paragraph {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 10px auto;
  line-height: 1.6;
}
