.footer {
  width: 318px;
  height: 18px;
  opacity: 1;
  display: flex;
  justify-content: center;
  margin: 67px auto 60px auto;
}

.footer__copyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
