/* Estilos generales del footer */
.footer {
  background: linear-gradient(to right, #0f0f0f, #1a1a2e); /* Efecto futurista */
  color: #fff; /* Texto en blanco */
  text-align: center;

  padding: 15px 0;
  font-family: 'Press Start 2P', cursive; /* Fuente estilo videojuegos */
  font-size: 12px;
  border-top: 3px solid #4c00ff; /* Línea neón superior */
  position: relative;
  width: 100%;
}

/* Estilos del contenido del footer */
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Texto del footer */
.footer-content__text {
  margin: 0;
  padding: 5px 10px;
  color: #a200ff; /* Color neón */
  text-shadow: 0px 0px 10px #1100ff;
}