@import url("../vendor/normalize.css");
@import url("../fonts/inter.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap");
@import url("../blocks/nav.css");
@import url("../blocks/header.css");
@import url("../blocks/portada.css");
@import url("../blocks/trailers.css");
@import url("../blocks/contact.css");
@import url("../blocks/cards.css");
@import url("../blocks/about.css");
@import url("../blocks/page.css");
@import url("../blocks/footer.css");
@import url("../blocks/modal.css");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


* {
  margin: 0;
}

body {
  background: linear-gradient(90deg, #0f0c29, #302b63, #24243e); /* Fondo principal */
  color: #ffffff; /* Texto principal */
  font-family: "Roboto", sans-serif; /* Fuente secundaria para textos */
  margin: 0;
  padding: 0;
  line-height: 1.6;
  min-height: 100vh;
} 
